<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../assets/logo.jfif" alt="Logo da academia Iron Fight">
            </div>
            <div class="pags">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="sobrenos.html">Sobre-nós</a></li>
                    <li><a href="modalidades.html">Modalidades</a></li>
                    <div id="matriculese">
                        <li><a href="matriculese.html">Matricule-se</a></li>
                    </div>
                    <div id="item">
                        <li><a href="aluno.html">Área do Aluno</a></li>
                    </div>
                    <div id="item">
                        <li><a href="professor.html">Área do Professor</a></li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="conteiner">
            <div class="card">
                <h1>Quem Somos</h1>
                <p>Somos uma Academia deArtes Marciais, a Iron Fight. Temos em foco algumas lutas, como: Boxe, Jiu Jtsu,
                    Mut
                    Thai, MMA, Judô e Krav Maga.</p>
            
                <button type="submit">Saiba mais -></button>
                
            </div>
            <div class="image">
                <img src="../assets/espaco_academia.png" alt="Imagem da Academia">
            </div>
        </div>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <div class="modalidades">
            <div class="teste">
                <h2>Conheça as nossas </h2>
                <span style="text-transform: uppercase; color: #3B8962;">modalidades</span>
            </div>
            <div class="teste2"></div>
        </div>


    </main>

    <footer></footer>
</body>

</html>